apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.tenantName }}-media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storageSize }}
